* {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;    
    margin: 20px;
    padding: 10px;
}

body {
    background-color: rgb(231, 183, 192);
}

h1 {
    font-size: 80px;
}

#title {
}

#secret{
    visibility: hidden;
}

button {
    padding: 30px;
    background-color: rgb(233, 121, 143);
    border-radius: 50px;
}

iframe {
    border-width: 10px;
    border-color: black;
    border-radius: 30px;
    background-color: black;
}

#step1 {
    top: 13000px;
    
}

#step2 {
    top: 11500px;
}

.step {
    visibility: hidden;
    position: absolute;
    border-width: 0px 20px;
    border-color: rgb(233, 121, 143);
    border-style: solid;
    border-radius: 100px;
    padding: 30px;
    width: 400px;
}

.step.gi {
    border-color: #FDC518;
}

.gi button {
    background-color: rgb(207, 141, 34);
}

input {
    width: 300px;
}

#giraffe {
    position: absolute;
    top: 0px;
}

#busline {

}

#reset {
    position: absolute;
    top: 15000px;
    background-color: gray;
    width: 700px;
}

.small {
    font-size: 75%;
   
}